#template_thumbnail {
    margin: 20px 20px 0 0;
    float: left;
    width: 200px;
}
#template_thumbnail img {
    width: 125px;
    box-shadow: 2px 2px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 12px rgba(0,0,0,.4);
}
#template_thumbnail img,
.jcarousel-skin-blueprints .jcarousel-item .carousel_thumbnail {
    box-shadow: 2px 2px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,.4);
    -moz-box-shadow: 2px 2px 12px rgba(0,0,0,.4);
}
.active_publish_layout {
    color: rgba(0,0,0,0.5);
    margin: 5px;
}
#layout_change {
    float: left;
    margin-top: 15px;
}
#layout_change .instruction_text {
    width: 180px;
    margin-bottom: 12px;
}
.clear { clear: both; }


.jcarousel-skin-blueprints .jcarousel-container {
}

.jcarousel-skin-blueprints .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-blueprints .jcarousel-container-horizontal {
    width: 580px;
    padding: 10px 40px;
}

.jcarousel-skin-blueprints .jcarousel-clip-horizontal {
    width:  580px;
    height: 165px;
}

.jcarousel-skin-blueprints .jcarousel-item {
    width: 125px;
    height: 165px;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}
.jcarousel-skin-blueprints .jcarousel-item.active span {
    color: #fff;
    background: #bfd255;
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); 
}

.jcarousel-skin-blueprints .jcarousel-item:hover span {
    background-color: #fff;
}
.jcarousel-skin-blueprints .jcarousel-item span {
    display: inline-block;
    text-align: center;
    padding: 2px 7px;
    font-weight: bold;
    margin-bottom: 5px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.jcarousel-skin-blueprints .jcarousel-item .carousel_thumbnail {
    background-image: url(../images/no_template.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
}

.jcarousel-skin-blueprints .jcarousel-item-horizontal {
	margin-left: 0;
}

.jcarousel-skin-blueprints .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-blueprints .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-blueprints .jcarousel-next-horizontal {
    position: absolute;
    top: 85px;
    right: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: transparent url(../images/btn_right.png) no-repeat 0 -26px;
}

.jcarousel-skin-blueprints .jcarousel-next-horizontal:hover {
    background-position: 0 -26px;
}

.jcarousel-skin-blueprints .jcarousel-next-horizontal:active {
    background-position: 0 -52px;
}

.jcarousel-skin-blueprints .jcarousel-next-disabled-horizontal,
.jcarousel-skin-blueprints .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-blueprints .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}

.jcarousel-skin-blueprints .jcarousel-prev-horizontal {
    position: absolute;
    top: 85px;
    left: 5px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: transparent url(../images/btn_left.png) no-repeat 0 -26px;
}

.jcarousel-skin-blueprints .jcarousel-prev-horizontal:hover {
    background-position: 0 -26px;
}

.jcarousel-skin-blueprints .jcarousel-prev-horizontal:active {
    background-position: 0 -52px;
}

.jcarousel-skin-blueprints .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-blueprints .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-blueprints .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 0;
}